prune api
# added by check-manifest
include *.py
include Dockerfile
include LICENSE
recursive-include api *.json
recursive-include api *.py
recursive-include test *.py
recursive-exclude ~ *.exe
recursive-include src *.DS_Store
recursive-include src *.bat
recursive-include src *.css
recursive-include src *.dat
recursive-include src *.html
recursive-include src *.ico
recursive-include src *.iml
recursive-include src *.js
recursive-include src *.json
recursive-include src *.md
recursive-include src *.obj
recursive-include src *.png
recursive-include src *.pop
recursive-include src *.py
recursive-include src *.rst
recursive-include src *.rtf
recursive-include src *.txt
recursive-include src *.xls
recursive-include src *.xlsx
recursive-include src *.xml
recursive-include src *.yaml
recursive-include src Makefile