.image-box {

    /* Here's the trick */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://9to5mac.com/wp-content/uploads/sites/6/2020/01/Coronavirus.jpg?quality=82&strip=all);
    background-size: cover;

    /* Here's the same styles we applied to our content-div earlier */
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box:hover {
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
}

.image-box .Button:hover {
    color: white;
}

.about-section {
    padding: 100px 30px 100px 30px;
    background-color: #222629;
    overflow: hidden;
}

.about-section p{
    font-size: 18px;
}

.about-section .Button {
    border-color:  #66FCF1;
    background-color: #66FCF1;
}

.about-section .Button:hover {
    background-color:  #61d4cd;
    color: black;
}

.about-section img {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button-container {
    width: 100%;
}

.blog-section {
    padding: 0px 30px 100px 30px;
    background-color: #222629;
    overflow: hidden;
}

.blog-section p{
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.blog-section .Button {
    border-color:  #66FCF1;
    background-color: #66FCF1;
}

.blog-section .Button:hover {
    background-color:  #61d4cd;
    color: black;
}

.blog-section img {
    background-color: white;
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px 30px 30px 30px;
    overflow: hidden;
}

.blog-container {
    padding-top: 30px;
    text-align: center;
    background-color: #444f56;
    border-radius: 30px 30px 30px 30px;
    min-height: 600px;
    overflow: hidden;
    margin: 25px;
}

.blog-content {
    padding: 20px;
}

.img-container {
    padding: 40px;
}