.CardBackground{
    background-color: #222629;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    margin:0;
    align-content: center;
    padding-top: 5%;
    padding-bottom:5%
}

.GreenBackground{
    display: block;
    overflow: auto;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    background-color: #143230;
    width: 100%;
    min-height: 100%;
    align-self: center;
    align-items: center;
    border-bottom:10px solid #1b4441c2;
    padding-bottom:5%;
    padding-right: 20px;
    padding-left: 20px;

}

h3{
    color: white;
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: center;
}

.col{
    float: left;
    width: 40%;
    vertical-align: middle;
}

.col2{
    float: right;
    width: 50%;
    padding: 10px;
    align-content: left;
}

.col3{
    float: left;
    width: 100px;
    padding: 10px;
}

.col4{
    float: left;
    width: 20%;
    padding-right:10px;
    text-align: center;
}

.col5{
    float: right;
    padding-left: 15%;
    width: 45%;
}

.label{
    color:#ffffff;
    margin-right: 10px;
    text-align:'left';
}

.row{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
}

.row2{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    float:right;
}


td{
    padding-bottom: 15px;
}

.button{
    padding:5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    background-color: #66FCF1;
    border:none;
    border-radius: 20px;

}
.buttonSave{
    padding:5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #66FCF1;
    border:none;
    border-radius: 20px;

}
.dotted {
    border:none;
    border-top:2px dotted #66FCF1;
    color:#fff;
    background-color:#1b4441c2;
    height:1px;
    width:92%;
    margin-left:5%;
    margin-top: 0;
  }

  .dotted2 {
    border:none;
    border-top:2px dotted #66FCF1;
    color:#fff;
    background-color:#1b4441c2;
    height:1px;
    width:92%;
    margin-left:50px;
    margin-top: 0;
  }

.text{
    color:white
}

.durationText{
    font-size: 15px;
    width: fit-content;
    color: white;

}

.hidden {
    display:none;
}


i:hover{
    color:#66fcf275;

}

.fab {
    position: 'fixed';
    z-index: 99;
    color: black;
    background-color: 'cyan';
    
  }
  .fab:hover {
    background-color: '#0fe0e0',
  }
