.CardBackground{
    background-color: #222629;
    height: 100%;
    width: 100vh;
    min-height: 100%;
    min-width: 100%;
    margin:0;
    align-content: center;
    padding-top: 5%;
    padding-bottom:5%
}

.GreenBackground{
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    background-color: #143230;
    width: 82%;
    align-self: center; 
    align-items: center;
    border-bottom:10px solid #1b4441c2;
    padding-bottom:5%;
    padding-right: 20px;
    padding-left: 20px;
}

h3{
    color: white;
    padding-top: 2%;
    padding-bottom: 3%;
}

.col{
    float: left;
    width: 50%;
    padding: 10px;
}

.label{
    color:#ffffff;
    margin-right: 5px;
    text-align:'left';
}

.row{
    padding-top: 10px;
    padding-left: 50px;
}

td{
    padding-bottom: 15px;
}