.SuperCard {
    overflow: hidden;
    padding:20px;
    border: 1px transparent;
    width: 90%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    display: inline-block;
    box-sizing: border-box; 
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .LeaderCard {
    overflow: hidden;
    padding:20px;
    border: 1px transparent;
    width: 33.3%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    display: inline-block;
    box-sizing: border-box; 
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .CardBackground{
    background-color: #222629;
    height: 100%;
    width: 100vh;
    min-height: 100%;
    min-width: 100%;
    margin:0;
    align-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
} 

   .CardGreenBackground{
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  background-color: #1b4441c2;
  width: 90%;
  align-self: center; 
  align-items: center;
}

  .CardLightGreenBackground{
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  background-color: #1B4441;
  width: 90%;
  align-self: center; 
  align-items: center;
}
  
  .Inner {
    position: sticky;
    padding:1px;
    float: left;
    margin-left: 2%;
    width: 70%;
    height: fit-content;
  
  }
  
  .LeaderName{
    text-align: left;
    font-size: 30px;
    font-weight: normal;
    color: #66FCF1;
  }
  
  .Text {
    text-align: left;
    width:100%;
    max-width: 100%;
    height: 5%;
    color: white;
  }
  
  .header {
    margin-top: 1%;
    margin-bottom: 0%;
    color: white;
  }
  
  .header2 {
    float: left;
    margin-left: 8%;
    margin-right: auto;
    margin-top: 1%;
    font-size: 25px;
    color: white;
  } 
